*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calc_title{
    text-align: center;
    margin: 50px auto;
}

.calc_container{
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.calc_input{
    font-size: 14px;
    width: 14%;
    height: 40px;
}


.operator_group{
    display: flex;
    flex-direction: column;
}

.calc_result-button{
    width: 5%;
    height: 40px;
}


.rounding_block{
    width: 50%;
    margin: 12px auto;
    display: flex;
    justify-content: center;
}

.rounding_group{
    width: 60%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.rounding-label{
    width: 90%;
    display: flex;
    gap: 24px;
    align-items: center;
}

#rounding-value{
    font-size: 14px;
    height: 40px;
}

.footer{
    padding: 0 24px;
    text-align: end;
}