*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calc_title{
    text-align: center;
    margin: 50px auto;
}

.calc_container{
    width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
}

.calc_input{
    width: 20%;
    height: 40px;
}

.operator_group{
    display: flex;
    flex-direction: column;
}

.calc_result-button{
    width: 8%;
    height: 40px;
}

.footer{
    padding: 0 24px;
    text-align: end;
}